<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>620580938807-tsro5l5scejjgt8u5sg512gi5b429t68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620580938807-tsro5l5scejjgt8u5sg512gi5b429t68</string>
	<key>API_KEY</key>
	<string>AIzaSyC0xdupJSFZW4hV9_rEKWB3wQhXoVlmpYw</string>
	<key>GCM_SENDER_ID</key>
	<string>620580938807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kos.company.inventory-App</string>
	<key>PROJECT_ID</key>
	<string>inventoryapp-f26a7</string>
	<key>STORAGE_BUCKET</key>
	<string>inventoryapp-f26a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620580938807:ios:9d5f003538d64f80</string>
	<key>DATABASE_URL</key>
	<string>https://inventoryapp-f26a7.firebaseio.com</string>
</dict>
</plist>